.bookmark-container{
  border-radius: 8px;
  background: rgba(17, 17, 17, 0.05);
  text-align: center;
  position: sticky;
  top:100px;
  padding-bottom: 30px;
}
.content{
  border-radius: 8px;
  background:whitesmoke;
 
}
.content p{
  border-radius: 8px;
  background: #FFF;
  width:fit-content;
  height: fit-content;
  margin: 2rem;
  
}
    