.bookmark-sidebar{
    position: sticky;
    top:0;
    border-radius: 8px;
    background: rgba(17, 17, 17, 0.05);
    padding:30px;
    display: flex;
    flex-direction: column;
    
}
.read-time{
    color: #6047EC;
    font-family: Exo 2;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;   
}
.bookmark-sidebar-blogs{
    color: #111;
    font-family: Exo 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 16px;
}
.bookmarked-title{
    width:310px;
    height:58px;
    border-radius: 8px;
    background: #FFF;
    padding:20px;
}
.blog-title span{
    color: #111;
    font-family: Exo 2;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}


   