.time-container{
    border-radius: 8px;
    border: 1px solid #6047EC;
    background-color: #b2bad3;
    text-align: center;
    position: sticky;
    top:0;
    margin-bottom: 20px;
}
.read-time{
    color: #6047EC;
    font-family: Exo 2;
    font-size: 24px;
    font-weight: 700;
}